<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bulleted</title>


  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=Lato|Rock+Salt&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/assets/styles/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/assets/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body class="dot-bg">
    {{>nav}}

    {{{body}}}

    <footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Bulleted</h5>
          <p class="grey-text text-lighten-4 footerP">We are a team of women coding students working to solve the eternal problem of life organization. We have created a project that can help with tracking to-dos as well as a safe place to capture your thoughts. We will continue to add features as we develop our skills but until then, enjoy your new Bulleted Journal.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Github</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/DiabloAzul33" target="_blank">Carolyn Floyd</a></li>
            <li><a class="white-text" href="https://github.com/caseyisonit" target="_blank">Casey Eickhoff</a></li>
            <li><a class="white-text" href="https://github.com/KCEliza" target="_blank">Kristen Christeson</a></li>
            <li><a class="white-text" href="https://github.com/RachaelWhitefield" target="_blank">Rachael Whitefield</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/carolyn-floyd-a5344b184/" target="_blank">Carolyn Floyd</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/caseyeickhoff/" target="_blank">Casey Eickhoff</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/kristen-christeson-080927181/" target="_blank">Kristen Christeson</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/rachael-whitefield-952198180/" target="_blank">Rachael Whitefield</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by Carolyn, Casey, Kristen and Rachael
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
  <script src="/assets/js/materialize.js"></script>
  <script src="/assets/js/init.js"></script>
  <script src="/assets/js/index.js"></script>

</body>

</html>