<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container hero-text">
            <br><br>
            <h1 class="header center grey-text text-darken-4">404</h1>
            <div class="row center">
                <h5 class="header col s12 white-text text-darken-3">Hello, is it me you're looking for?</h5>
            </div>
            <div class="row center">
                <a href="/" class="btn-large waves-effect waves-light grey darken-4">Go home, Lionel. You're drunk.</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax">
        <img src="/assets/images/lionel.jpg" alt="404 Lionel">
    </div>
</div>