<div class="container">
    <div class="section">
        <div class="row center">
            <div class="col sm12 m6 4-offset">
                <h1 class="center">{{user.firstName}} Dashboard</h1>
                <a href="/logout" class="btn-large waves-effect waves-light grey darken-4">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m8">
            <div class="card white">
                <div class="card-content gray-text text-darken-4">
                    <span class="card-title center">Today</span>
                    <ul id="myUL">
                        <li>Hit the gym</li>
                        <li class="checked">Pay bills</li>
                        <li>Meet George</li>
                        <li>Buy eggs</li>
                        <li>Read a book</li>
                        <li>Organize office</li>
                    </ul>
                </div>
                <div class="card-action">
                    <input type="text" id="myInput" placeholder="To-Do Item">
                    <span onclick="newElement()" class="btn-small waves-effect waves-light grey darken-4" id="addbtn">Add</span>
                </div>
            </div>
        </div>
    </div>
</div>