<div class="container">
    <div class="section">
        <div class="row center">
            <div class="col s12 m4 l2"></div>
            <div class="col s12 m4 l8">
                <h1 class="center">{{user.firstName}} Dashboard</h1>
                <a href="/logout" class="btn-large waves-effect waves-light grey darken-4">Logout</a>
            </div>
            <div class="col s12 m4 l2"></div>
        </div>
    </div>

    <div class="section">
        <div class="row center">
            <div class="col s12 m4 l2"></div>
            <div class="col s12 m4 l8">
                <div class="card white">
                    <div class="card-content gray-text text-darken-4">
                        <span class="card-title center">Today</span>
                        <div class="divider"></div>
                        <ul class="myUL" id="myUL">
                            <li>Hit the gym</li>
                            <li class="checked">Pay bills</li>
                            <li>Meet George</li>
                            <li>Buy eggs</li>
                            <li>Read a book</li>
                            <li>Organize office</li>
                        </ul>
                    </div>
                    <div class="card-action">
                        <input type="text" id="myInput" placeholder="To-Do Item">
                        <span onclick="newElement()" class="btn-small waves-effect waves-light grey darken-4"
                            id="addbtn">Add</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l2"></div>
        </div>
    </div>

    <div class="section">
        <div class="row center">
            <div class="col s12 m4 l2"></div>
            <div class="col s12 m4 l8">
                <div class="card white">
                    <div class="card-content gray-text text-darken-4">
                        <span class="card-title center">This Week</span>
                        <div class="divider"></div>
                        <ul class="myUL" id="myUL">
                            <li>Hit the gym</li>
                            <li class="checked">Pay bills</li>
                            <li>Meet George</li>
                            <li>Buy eggs</li>
                            <li>Read a book</li>
                            <li>Organize office</li>
                        </ul>
                    </div>
                    <div class="card-action">
                        <input type="text" id="myInput" placeholder="To-Do Item">
                        <span onclick="newElement()" class="btn-small waves-effect waves-light grey darken-4"
                            id="addbtn">Add</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l2"></div>
        </div>
    </div>

    <div class="section">
        <div class="row center">
            <div class="col s12 m4 l2"></div>
            <div class="col s12 m4 l8">
                <div class="card white">
                    <div class="card-content gray-text text-darken-4">
                        <span class="card-title center div">This Month</span>
                        <div class="divider"></div>
                        <ul class="myUL" id="myUL">
                            <li>Hit the gym</li>
                            <li class="checked">Pay bills</li>
                            <li>Meet George</li>
                            <li>Buy eggs</li>
                            <li>Read a book</li>
                            <li>Organize office</li>
                        </ul>
                    </div>
                    <div class="card-action">
                        <input type="text" id="myInput" placeholder="To-Do Item">
                        <span onclick="newElement()" class="btn-small waves-effect waves-light grey darken-4"
                            id="addbtn">Add</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l2"></div>
        </div>
    </div>

    <div class="section">
        <div class="row center">
            <div class="col s12 m4 l2"></div>
            <div class="col s12 m4 l8">
                <div class="card white">
                    <div class="card-content gray-text text-darken-4">
                        <span class="card-title center div">Journals</span>
                        <div class="divider"></div>
                        <ul class="myUL" id="myUL">
                            <li>Hit the gym</li>
                            <li class="checked">Pay bills</li>
                            <li>Meet George</li>
                            <li>Buy eggs</li>
                            <li>Read a book</li>
                            <li>Organize office</li>
                        </ul>
                    </div>
                    <div class="card-action">
                        <input type="text" id="myInput" placeholder="To-Do Item">
                        <span onclick="newElement()" class="btn-small waves-effect waves-light grey darken-4"
                            id="addbtn">Add</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l2"></div>
        </div>
    </div>
</div>