<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container hero-text">
        <br><br>
        <h1 class="header center grey-text text-darken-4">Welcome to Bulleted</h1>
        <div class="row center">
          <h5 class="header col s12 grey-text text-darken-3">A modern responsive way to keep track of your life and
            thoughts</h5>
        </div>
        <div class="row center">
          <a href="" id="startButton" class="btn-large waves-effect waves-light grey darken-4">Start Journaling</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/assets/images/hero-img.jpg" alt="Bullet Journal"></div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row space">
        <div class="col s12 m6">
          <div class="text-block">
            <h3 class="">Today</h3>
            <p class="light flow-text">It all begins with today. You can make your daily to-do list and mark off itmes
              as you complete them.</p>
          </div>
        </div>

        <div class="col s12 m6 center">
          <img src="/assets/images/today.jpg" class="circle feature-img">
        </div>
      </div>

      <div class="row space">
        <div class="col s12 m6 center">
          <img src="/assets/images/this-week.jpg" class="circle feature-img">
        </div>

        <div class="col s12 m6">
          <div class="text-block">
            <h3 class="">This Week</h3>
            <p class="light flow-text">Not everything can be done in a week and it helps to be able to plan ahead. This
              week feature allows you to </p>
          </div>
        </div>
      </div>

      <div class="row space">
        <div class="col s12 m6">
          <div class="text-block">
            <h3 class="">This Month</h3>
            <p class="light flow-text">It all begins with today. You can make your daily to-do list and mark off itmes
              as you complete them.</p>
          </div>
        </div>

        <div class="col s12 m6 center">
          <img src="/assets/images/this-month.jpg" class="circle feature-img">
        </div>
      </div>

      <div class="row space">
          <div class="col s12 m6 center">
            <img src="/assets/images/journal.jpg" class="circle feature-img">
          </div>
  
          <div class="col s12 m6">
            <div class="text-block">
              <h3 class="">Journaling</h3>
              <p class="light flow-text">Not everything can be done in a week and it helps to be able to plan ahead. This
                week feature allows you to </p>
            </div>
          </div>
        </div>


    </div>
  </div>