<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">Login</h1>
      
      {{> messages}}
      <form action="/api/login" method="POST">
      <div class="container">
        <div class="input-field">
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email">
        </div>
        <div class="input-field">
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password">
          
        </div>
<<<<<<< HEAD
        <button type="submit" class="btn btn-primary btn-large btn-block black" id = "goToUserPage">Login</button>
=======
        <button type="submit" class="btn btn-primary btn-block" id = "goToUserPage">Login</button>

        <button type="submit" class="btn btn-primary btn-large btn-block black">Login</button>

>>>>>>> b8f7d108338f02cfd32f70b12bf21039c7c6ba31
      </form>
      <p class="lead mt-4">
        No Account? <a href="/signup">Signup</a>
      </p>
    </div>
  </div>
</div>
</div>