<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">Signup</h1>
      
      {{> messages}}
      <form action="/api/signup" method="POST">
      <div class="container">
        <div class="input-field">
          <input type="text" id="fName" name="fName" class="form-control" placeholder="Enter First Name" required
          />
          <label for="name" class="active"></label>
        </div>

        <div class="input-field">
          <input type="text" id="lName" name="lname" class="form-control" placeholder="Enter Last Name">
        <label for="name" class="active"></label>
      </div>

        <div class="input-field">
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email">
          <label for="email" class="active" placeholder="Enter Email"></label>
          </div>
     
        <div class="input-field">
          <input type="password" id="password" name="password" class="form-control" placeholder="Create Password">
        </div>

        <div class="input-field">
          <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password">
          </div>

        <button type="submit" class="btn btn-primary btn-large btn-block black">Sign Up</button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>
</div>